@media (max-width: 467px) {
        .footer-content {
        max-width: 90vw; 
        margin: 0 auto; 
        padding: 0 10px; 
    }

    .footer-content ul {
        width: 100%; 
    }

    .social-icons a {
        width: max(30px, 7vw);
        height: max(30px, 7vw);
    }

    .social-icons img {
        width: 100%;
        height: 100%;
    }
}
