.home-container {
  position: relative;
  height: 50vh;
  width: 100%;
 margin-bottom: 20px;
}

.overlay-cards {
  position: absolute;
  top: 4%;
  z-index: 1;
  width: 100%;
  justify-content: center;
}

.gradient-banner {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2%;
}

.white-line {
  height: 30%;
  flex: 1;
  background-color: #ffffff;
}

.gradient-line {
  flex: 2;
  height: 100%;
  background: linear-gradient(to right, #44b0f8, #1a7af5, #1056d2);
}

.three-card-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: nowrap;
}

.card {
  background-color: #0e1721;
  border-radius: 12px;
  text-align: center;
  padding: 1.5rem;
  width: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
}

.card-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 0.9rem;
  color: white;
}

.square-info-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 30%;
  z-index: 1;
}

.custom-square {
  background-color: #0e1721;
  border-radius: 0 8px 8px 0;
  width: 30%;
  height: auto;
  flex-shrink: 0;
  /* border: 1px solid red; */
}

.info-rectangle {
  background-color: #0e1721;
  border-radius: 12px 0 0 12px;
  padding: 5rem 4rem;
  width: 60%;
  color: white;
}

.info-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #c5e8f9;
  text-shadow: 0 0 1px #c5e8f9, 0 0 2px #c5e8f9, 0 0 20px #c5e8f9;
}

.info-description {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.intermediate-image {
  position: absolute;
  bottom: -20%;
  left: 17%;
  transform: translateX(-30%) translateY(30%);
  width: auto;
  height: 400px;
  z-index: 2;
}

@media (max-width: 768px) {  
  .home-container {
    height: 70vh;
  }
  .gradient-banner {
    min-height: 60vh;
    margin-top: 0;
  }
  .square-info-container {
    height: auto;
    bottom: 45%;
    /* flex-direction: column; */
    gap: 2rem;
    justify-content: right;
  }
  .intermediate-image {
    transform: translateX(-10%) translateY(65%);
  }
  .custom-square {
    display: none;
  }
  .info-rectangle {
    padding: 5rem 1.8rem 5rem 5rem;
    width: 90%;
  }
  .card {
    max-height: 180px;
    width: 25%;
  }
  .card-description {
    font-size: 0.75rem;
  }
  .card-title {
    font-size: 1rem;
  }
}

@media (max-width: 517px) {
  .info-description {
    font-size: 0.65rem;
  }
}

@media (max-width: 697px) {
  .info-rectangle {
    padding: 5rem 1.8rem 5rem 5rem;
  }
  .info-description {
    font-size: 0.65rem;
  }
  .intermediate-image {
    width: auto;
    height: 230px;
  }
}

@media (max-width: 768px) {
  .gradient-banner {
    min-height: 80vh;
  }
  .white-line {
    flex: 1;
  }
  .gradient-line {
    flex: 3;
  }
}

@media (max-width: 480px) {
  .white-line {
    flex: 1;
  }
  .gradient-line {
    flex: 4;
  }
}

@media (max-width: 768px) {
  .three-card-row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .card {
    width: 30%;
    min-width: 150px;
  }

  .card-icon {
    width: 50px;
    height: 50px;
  }

  .card-title {
    font-size: 0.9rem;
  }

  .card-description {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .card {
    width: 30%;
    min-width: 120px;
  }

  .card-title {
    font-size: 0.8rem;
  }

  .card-description {
    font-size: 0.7rem;
  }
}